:root {
    --text-color: #FFFFFF;
    /* ffffff - White */
    --container-background-color: #007EA7;
    /* 007ea7 - Blue */
    --background-color: #00171F;
    /* 00171f - Dark Blue */
    --button-color: #00A8E8;
    /* 00a8e8 - Light Blue */
    --border-color: #003459;
    /* 003459 - Dark Blue */
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Corrected typo from 100lvh to 100vh */
    overflow: hidden;

}

.home-body1 {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 100vh;
    background-color: #f5f5f5;
    overflow: hidden;
}



.search-container {
    position: fixed;
    top: 0;
    left: 115px;
    width: 350px;
    height: 100vh;
    padding: 20px;
    background-color:var(--container-background-color);
    color: var(--text-color);
    z-index: 2;
}

.sidebar-1,
.sidebar-2 {
    transition: transform 0.5s ease;
    background-color: var(--border-color);
    color: var(--text-color);
    /* Adjust duration and timing function */
}



.sidebar-2 {
    grid-column: 1;
    /* Sidebar 2 also takes the first column */
    display: none;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    /* Move it to the right to make space for sidebar-1 */
    z-index: 1;
    /* Ensure it's above search-container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px 10px;
    border-bottom: 1px solid #e0e0e0;
    height: 100%;
    font-size: 25px;
    font-weight: bolder;
    color: var(--text-color);
}

.icon-text {
    display: flex;
    align-items: center;
    height: 3.8em;
    padding: 0 20px;
    border-radius: 20px;
    color: var(--text-color);
}

.icon-text:hover {
    background-color: var(--button-color);
    cursor: pointer;
}

.icon-text i {
    font-size: 25px;
    margin-right: 15px;
}

.icont{
    color: var(--text-color);
}

.logo {
    margin: 40px 0;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.sidebar-1 .logo h2 {
    margin: 10px 0 0;
    font-size: 20px;
    color: #333;
}

.sidebar-1 .nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-items a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.sidebar-items {
    color: #333;
    font-size: 18px;
}

.span-text-nav {
    margin-left: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.profile-container img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.profile-container a {
    display: flex;
    align-items: center;
}

#search {
    width: calc(100% - 30px);
    /* Adjust width for the button */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search::placeholder {
    color: #aaa;
}

.card {
    position: absolute;
    width: 220px;
    height: 50px;
    background: #ffff;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
    position: absolute;
    transform: translate(35%, -58%);
    padding: 5px 10px;
    z-index: 1;
}

#search-profilepics {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 50% 0;
    object-fit: cover;
    overflow: hidden;
}

.card_load {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    /* background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%); */
    background: #ff000000;
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 50% 0;
    animation: load89234 2s infinite;
}

.card_load_extreme_title {
    width: 117px;
    height: 17px;
    position: relative;
    float: right;
    border-radius: 4px;
    background: rgba(245, 245, 220, 0);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
    margin-right: 26px;
}

.card_load_extreme_descripion {
    width: 90px;
    height: 25px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: rgba(245, 245, 220, 0);
    margin-top: 7px;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}


ul {
    list-style-type: none;
    position: absolute;
    z-index: 1;
}

li {
    padding: 31px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .search-container {
        width: 40%;
        /* Adjust width for smaller screens */
        left: 30%;
        /* Center the search container horizontally */
        transform: translateX(-50%);
        /* Center the search container horizontally */
        max-width: 200px;
        /* Limit maximum width */
        transition: all 0.3s ease;
    }
}

#image-container {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 50%;
}

#profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#crop-preview {
    border: 2px solid #fff;
    box-sizing: content-box;
}

#crop-preview::before,
#crop-preview::after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
}

#crop-preview::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

#crop-preview::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}


.main-body {
    display: grid;
    margin: 0%;
    padding: 0;
    background-color: var(--background-color);
    overflow: auto;
    grid-column: 2;

}

.posts {
    margin: 25px 0;
    background-color: white;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 3px;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

.posts .post-username {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.posts .post-username .post-left {
    display: flex;
    align-items: center;
}

.posts .post-username .post-left .image {
    margin-right: 15px;
}

.posts .post-username .post-left .image img {
    border-radius: 50%;
    object-fit: contain;
}

.posts .post-username .post-left .details .name {
    padding: 0;
    font-weight: bold;
}

.posts .post-username .post-left .details {
    padding: 0;
}

.post-content img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}


.posts .post-footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.posts .post-footer .add-comment {
    padding: 16px;
    border-top: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts .post-footer .add-comment .com-leftside {
    display: flex;
    align-items: center;
}

.posts .post-footer .add-comment .com-leftside i {
    font-size: 22px;
    margin-right: 15px;
}

.posts .post-footer .add-comment .com-leftside input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
}

.posts .post-footer-content {
    padding: 0 16px 16px 16px;
}

.posts .post-footer-content p {
    margin-bottom: 3px;
}

.posts .post-footer-content .name {
    font-weight: 600;
}

.posts .post-footer-content span {
    margin-left: 10px;
    font-weight: normal;
}

.posts .post-footer-content .posting-time {
    font-size: 10px;
    margin-top: 6px;
}

.name .location {
    padding: 0;
}

/* dummy */




/* For screens smaller than 1340px wide */



/* ================================================= */





/* ==================================================== */



/* ================================================================== */
/* Responsive styles for tablets and iPads */