:root {
    --text-color: #FFFFFF;
    --text2-color: #575a5b;
    /* ffffff - White */
    --container-background-color: #007EA7;
    /* 007ea7 - Blue */
    --background-color: #00171F;
    /* 00171f - Dark Blue */
    --button-color: #00A8E8;
    /* 00a8e8 - Light Blue */
    --border-color: #003459;
    /* 003459 - Dark Blue */
    --extra-color: #0081cc59;
}

body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(360deg, #21A987 10%, #d3fff4 90%); */
    display: flex;
    background-color: var(--background-color);
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;


}


.form-body {
    background-color: #c8e0ff;
    background: var(--border-color);
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 var(--text-color);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    h2 {
        margin-bottom: 1rem;
        text-align: center;
        font: bold 1.5rem Arial, sans-serif;
        color: var(--text-color);
    }

    h1 {
        color: var(--text-color);

        margin-bottom: 1rem;
        text-align: center;
        font: bold 1.8rem Arial, sans-serif;
    }

    i {
        margin-right: 0.5rem;

    }

    a {
        color: var(--button-color);
        text-decoration: none;
        transition: all 0.3s ease;
    }

    a:hover {
        color: var(--text2-color);
    }

    span {
        display: block;
        text-align: center;
        margin: 1rem;

    }


    .login-btn {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: var(--button-color);
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .login-btn:hover {
        background-color: var(--extra-color);
        transition: all 0.3s ease;
    }
}



.form-group {
    position: relative;
    margin: .8rem;
}

label {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    color: #FFD700;
}

/* Move placeholder inside input */
input::placeholder {
    transition: opacity 0.3s ease;
}

/* When input is not focused and not empty, hide placeholder */
input:focus:not(:placeholder-shown)+label {
    top: -0.5rem;
    font-size: 0.8rem;
    color: #666;
}

label.filled {
    top: -0.5rem;
    font-size: 0.8rem;
    color: #666;
}

.toggle-password i.fa-eye-slash::before {
    content: "\f070";
    /* Unicode for eye-slash icon */
}

/* When input is focused, hide placeholder */
input:focus::placeholder {
    opacity: 0;
}

.form-group {
    display: flex;
    align-items: center;
    color: #333333;
}

input {
    flex: 1;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #303030;
}

.toggle-password {
    padding: 0.5rem;
    cursor: pointer;
}