:root {
    --background-color: #FFFFFF;
    /* ffffff - White */
    --container-background-color: #007EA7;
    /* 007ea7 - Blue */
    --text-color: #00171F;
    /* 00171f - Dark Blue */
    --button-color: #00A8E8;
    /* 00a8e8 - Light Blue */
    --button-hover-color: #003459;
    /* 003459 - Dark Blue */
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Corrected typo from 100lvh to 100vh */
    overflow: hidden;
}

.profile-body1 {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 100vh;
    overflow: hidden;
}

.icont{
    color: var(--background-color);
}


.search-container {
    position: fixed;
    top: 0;
    left: 115px;
    width: 350px;
    height: 100vh;
    padding: 20px;
    background-color: var(--container-background-color);
    z-index: 2;
}

.sidebar-1,
.sidebar-2 {
    transition: transform 0.5s ease;
    background-color: var(--button-hover-color);
    /* Adjust duration and timing function */
}



.sidebar-2 {
    grid-column: 1;
    /* Sidebar 2 also takes the first column */
    display: none;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: var(--button-hover-color);
    width: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    /* Move it to the right to make space for sidebar-1 */
    z-index: 1;
    /* Ensure it's above search-container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px 10px;
    border-bottom: 1px solid #e0e0e0;
    height: 100%;
    font-size: 25px;
    font-weight: bolder;
}

.icon-text {
    display: flex;
    align-items: center;
    height: 3.8em;
    padding: 0 20px;
    border-radius: 20px;
    color: var(--background-color);
}

.icon-text:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.icon-text i {
    font-size: 25px;
    margin-right: 15px;
}

.logo {
    margin: 40px 0;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.sidebar-1 .logo h2 {
    margin: 10px 0 0;
    font-size: 20px;
    color: #333;
}

.sidebar-1 .nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-items a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.sidebar-items {
    color: #333;
    font-size: 18px;
}

.span-text-nav {
    margin-left: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.profile-container img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.profile-container a {
    display: flex;
    align-items: center;
}

#search {
    width: calc(100% - 30px);
    /* Adjust width for the button */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search::placeholder {
    color: #aaa;
}

.card {
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
    transform: translate(-50px);
    padding: 10px 20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 270px;
    position: relative;
    background: rgba(245, 245, 220, 0);
    border-radius: 5px;
    animation: load89234 2s infinite;
}

.div1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    background: rgba(245, 245, 220, 0);
    border-radius: 5px;
    animation: load89234 2s infinite;
    left: 20px;
}

#search-profilepics {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 50% 0;
    object-fit: cover;
    overflow: hidden;
}

.card_load {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    /* background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%); */
    background: #ff000000;
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 50% 0;
    animation: load89234 2s infinite;
}

.card_load_extreme_title {

    width: 117px;
    height: 17px;
    position: relative;
    float: right;
    border-radius: 4px;
    background: rgba(245, 245, 220, 0);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
    margin-right: 26px;
}

.card_load_extreme_descripion {
    width: 90px;
    height: 25px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: rgba(245, 245, 220, 0);
    margin-top: 7px;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}


.card1{
   display: flex;
   flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    background: rgba(245, 245, 220, 0);
}

.card_load1{
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    /* background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%); */
    background: #ff000000;
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 50% 0;
    animation: load89234 2s infinite;
}

.card_load_extreme_descripion1{
    height: 25px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: rgba(245, 245, 220, 0);
    margin-top: 7px;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}

.card_load_extreme_title1{
    width: 117px;
    height: 17px;
    position: relative;
    float: right;
    border-radius: 4px;
    background: rgba(245, 245, 220, 0);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
    margin-right: 26px;
}

.noti-btns {
    display: flex;
    margin-left: 20px;
}

.accept{
    margin-left: 20px;
}

ul {
    list-style-type: none;
    position: absolute;
    z-index: 1;
}

li {
    padding: 31px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .search-container {
        width: 40%;
        /* Adjust width for smaller screens */
        left: 30%;
        /* Center the search container horizontally */
        transform: translateX(-50%);
        /* Center the search container horizontally */
        max-width: 200px;
        /* Limit maximum width */
        transition: all 0.3s ease;
    }
}





.main-body {
    padding: 5px;
    background-color: var(--text-color);
    overflow: auto;
    grid-column: 2;
    color: var(--background-color);
    padding-left: 30px;
}

.body-container {
    display: grid;
    grid-template-rows: auto auto;
}






/* dummy */


.banner {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    /* Ensure relative positioning for absolute elements */
}

.banner-image,
.fileInput {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.banner-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 8px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.fileInput:hover .hover-text {
    opacity: 1;
}




.hmm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
}

.avatar-container {
    z-index: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: calc(-150px);
}

.avatar-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

#image-container {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 50%;
}

#profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#crop-preview {
    border: 2px solid #fff;
    box-sizing: content-box;
}

#crop-preview::before,
#crop-preview::after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
}

#crop-preview::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

#crop-preview::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}


/* For screens smaller than 1340px wide */
@media (max-width: 1340px) {
    .banner-image {
        width: 100%;
        height: 150px;
    }
}


.bio-up {
    width: auto;
    padding: 4em 45px;
    display: flex;
    flex-direction: column;
    font-size: medium;
    font-weight: bolder;

    p {
        margin: 0;
        padding: 0;

    }
}

.profile-bio {
    grid-column: 1;
    width: 50%;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

}

.profile-item-container {
    grid-column: 3;
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    padding: 45px;

    h3 {
        font-size: 25px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

.edit-profile-btn,
.view-archieve-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.edit-profile-btn:hover,
.view-archieve-btn:hover {
    background-color: #0056b3;
}

.post-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.headings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: #4a4a4a 2px solid;
}


.post img {
    width: 200px;
}


/* ================================================= */





.headings h2 {
    position: relative;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    /* border: rgb(101, 101, 28) 2px solid; */
}



.headings h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: all 0.3s ease;
}

.headings h2:hover::after {
    width: 100%;
}


.contents {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.content-1,
.content-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-2 {
    display: none;
}

.grid-single {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    gap: 5px;
    justify-content: center;
}

.grid-post {
    width: 300px;
    height: 300px;
}





/* ==================================================== */



button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.popup-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Keep it positioned towards the right */
    transform: translate(-50%, -50%);
    width: 95%;
    /* Make it a bit wider */
    max-width: 1000px;
    /* Set a maximum width if needed */
    height: 80%;
    /* Adjust the height as desired */
    max-height: 600px;
    /* Set a maximum height if needed */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    /* Increase border radius for smoother corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* Increase box shadow for more depth */
    display: flex;
    /* Use flexbox to arrange content */
}

.left-content {
    flex: 2;
    height: 100%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 0;
}



.right-content {
    flex: 1;
    /* Right side takes one-third of the space */
    padding: 20px;
    /* Add padding to the content */
    background-color: lightgreen;
    /* Background color for the right side */
    width: 200px;
    /* Fixed width for the right side */
    overflow: auto;
    /* Add scrollbars when content overflows */
}

.user-info {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    /* Adjust avatar size as needed */
    height: 40px;
    /* Adjust avatar size as needed */
    border-radius: 50%;
    /* Make the avatar round */
    margin-right: 10px;
    /* Add some space between avatar and username */
}

.username {
    font-weight: bold;
}


.right-content {
    position: relative;
    /* Set position relative for absolute positioning of comment section */
}

/*  */
.comment-section {
    position: absolute;
    /* Position the comment section */
    bottom: 0;
    /* Align to the bottom */
    left: 0;
    /* Align to the left */
    width: 90%;
    /* Occupy full width */
    display: flex;
    align-items: center;
}

.emoji-icon {
    font-size: 20px;
    /* Adjust icon size */
    margin-right: 10px;
    /* Add space between emoji icon and input box */
}

.comment-input {
    flex: 1;
    /* Input box takes up remaining space */
    padding: 10px;
    /* Add padding to the input box */
    border: 1px solid #ccc;
    /* Add border to the input box */
    border-radius: 5px;
    /* Add border radius */
}

.comment-button {
    background-color: transparent;
    /* Make button transparent */
    color: #007bff;
    /* Button text color */
    border: none;
    /* Remove button border */
    padding: 10px;
    /* Add padding to the button */
    cursor: pointer;
    /* Add pointer cursor on hover */
}

.comment-button i {
    font-size: 20px;
    /* Adjust icon size */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}



/* ================================================================== */
/* Responsive styles for tablets and iPads */

@media only screen and (max-width: 1024px) {
    .popup-content {
        width: 80%;
        /* Adjust width for tablets and iPads */
        height: 60%;
        /* Adjust height for tablets and iPads */
        max-width: unset;
        /* Remove maximum width */
        max-height: unset;
        /* Remove maximum height */
    }
}


@media only screen and (max-width: 600px) {
    .popup-content {
        flex-direction: column;
        width: 80%;
        max-width: unset;
        max-height: unset;
    }

    .left-content {
        order: -1;
        margin-right: 0;
    }

    .left-content img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .right-content {
        width: 100%;
        /* Adjusted to 100% */
        overflow: auto;
        position: relative;
        padding: 0;
        /* Remove padding */
        margin: 0;
        /* Adjust margin as needed */
        margin-bottom: 20px;
        /* Add margin-bottom for spacing */
    }

    .caption {
        margin-bottom: 50px;
    }

    .comment-section {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}