:root {
    --background-color: #FFFFFF;
    /* ffffff - White */
    --container-background-color: #007EA7;
    /* 007ea7 - Blue */
    --text-color: #00171F;
    /* 00171f - Dark Blue */
    --button-color: #00A8E8;
    /* 00a8e8 - Light Blue */
    --border-color: #003459;
    /* 003459 - Dark Blue */
}

.profile-body1 {
    display: grid;
    grid-template-columns: 8% 20% auto;
    grid-template-rows: 100vh;
    background-color: var(--secondary-color);
    overflow: hidden;
}

.settings-sidebar {
    position: fixed;
    top: 0;
    left: 115px;
    width: 350px;
    height: 100vh;
    padding: 20px;
    background-color: var(--secondary-color);
    z-index: 2;
}

.sidebar-1,
.sidebar-2 {
    transition: transform 0.5s ease;
}

.sidebar-2 {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px 10px;
    border-bottom: 1px solid #e0e0e0;
    height: 100%;
    font-size: 25px;
    font-weight: bolder;
}

.icon-text {
    display: flex;
    align-items: center;
    height: 3.8em;
    padding: 0 20px;
    border-radius: 20px;
}

.icon-text:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.icon-text i {
    font-size: 25px;
    margin-right: 15px;
}

.logo {
    margin: 40px 0;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.sidebar-1 .logo h2 {
    margin: 10px 0 0;
    font-size: 20px;
    color: #333;
}

.sidebar-1 .nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-items a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.sidebar-items {
    color: #333;
    font-size: 18px;
}

.span-text-nav {
    margin-left: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.profile-container img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.profile-container a {
    display: flex;
    align-items: center;
}

.main-body {
    padding: 5px;
    background-color: var(--secondary-color);
    overflow: auto;
    grid-column: 3;
}

.search-container {
    height: 100vh;
    padding: 20px;
    background-color: var(--secondary-color);
    z-index: 2;
    grid-column: 2;
}

.sidebar-settings h2 {
    margin-bottom: 20px;
    height: 60px;
    font-size: 1.5rem;
    color:var(--accent-color);
}

.sidebar-settings ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.1s, color 0.3s;
    cursor: pointer;
}

.nav-item:hover {
    background-color: lightblue;
    color: white;
}

.nav-item.active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightblue;
    z-index: -1;
    border-radius: 5px;
    transition: opacity 0.1s;
}


/* ================================= profile ===================================  */


.profile {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.profile:hover {
    transform: translateY(-5px);
}

.profile h1 {
    margin-bottom: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.profile:hover h1 {
    color:var(--primary-color);
}

.file-group {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}



.file-input {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.file-icon {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.file-icon i {
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
}

.file-icon:hover {
    background-color:var(--primary-color);
}



.update-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    input[type="submit"] {
       background-color:var(--button-color);
       color: var(--secondary-color);
       border: none;
       padding: 10px 20px;
       border-radius: 5px;
       cursor: pointer;
       transition: background-color 0.3s ease;
       &:hover {
            background-color: var(--container-background-color);
            color: var(--background-color);
        }
    }
    

}







.logout-container {
    margin: auto auto;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    text-align: center;
    animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.btn {
    background-color: #00ff08;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.highlight {
    color: #ff4081;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .container {
        width: 90%;
    }
}



.pvy-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.input-container {
    display: none;
    /* Initially hidden */
    flex-direction: column;
    align-items: center;
}

.input-field {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.forgot-password {
    margin-top: 10px;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}



.section {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.section-title {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.alert {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}





/* ================================= about us =================================== */
.container-abt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    animation: floatAnimation 3s infinite alternate;
    transition: transform 0.3s ease-in-out;
}

.red {
    background-color: #ffcccc;
}

.blue {
    background-color: #cceeff;
}

.green {
    background-color: #ccffcc;
}

.yellow {
    background-color: var(--secondary-color)fcc;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}



/* ================================== help ================================= */


.container-help {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #2c3e50;
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}


section {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #2c3e50;
}



.faq li:hover,
.how-to li:hover {
    background-color: #f9f9f9;
}

.how-to li:hover {
    background-color: #eaf5ff;
}



.sidebyside {
    display: flex;
    justify-content: space-evenly;
}




/* Section styles */
.section {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Section 1 styles */
.section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.change-photo-btn {
    background-color: #3897f0;
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.change-photo-btn:hover {
    background-color: #1e6ba8;
}

/* Section 2 styles */
.section2 {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.input-group input {
    width: calc(60% - 20px);
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.input-group button {
    margin-left: 20px;
    background-color: #3897f0;
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.input-group button:hover {
    background-color: #1e6ba8;
}

.alert-text {
    font-size: 0.8rem;
    color: #2ecc71;
    text-align: center;
    margin-top: 5px;
}



/* Gender menu styles */
.gender-menu {
    display: flex;
    flex-direction: column;
}

.gender-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.gender-option label {
    font-size: 1.2rem;
    margin-left: 10px;
}

.gender-option input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #999;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.gender-option input[type="radio"]:checked::before {
    content: '\2713';
    /* Unicode for checkmark */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
}

.gender-option input[type="radio"]:checked {
    background-color: #1E90FF;
    /* Change this color for selected option */
    border-color: #1E90FF;
}

.gender-option input[type="text"] {
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    font-size: 1.2rem;
    padding: 5px 0;
    margin-left: 10px;
    width: 200px;
}

.selected-gender {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.selected-gender.active {
    opacity: 1;
}


/* Bio section styles */
.bio-section {
    margin-top: 20px;
    position: relative;
}

.bio-button {
    background-color:var(--button-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #1e6ba8;
        color: var(--background-color);
    }
}

.bio-textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    word-spacing: 5px;
    outline: none;
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
}

.bio-textarea:focus {
    border-color: #1e90ff;
}

.char-count {
    position: absolute;
    bottom: 5px;
    right: -5px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
}
