body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #3a003e, #670065);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;


}


.form-body {
    background-color: #ffffff2a;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    h2 {
        margin-bottom: 1rem;
        text-align: center;
        font: bold 1.5rem Arial, sans-serif;
        color: #ffb6c1;
    }

    h1 {
        color: #ccffcc;
        margin-bottom: 1rem;
        text-align: center;
        font: bold 1.8rem Arial, sans-serif;
    }

    i {
        margin-right: 0.5rem;

    }

    a {
        color: #ffb6c1;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    a:hover {
        color: #ccffcc;
    }

    span {
        display: block;
        text-align: center;
        margin: 1rem;

    }


    select {
        padding: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        outline: none;
        font-size: .8rem;
    }

    .login-btn {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #670065;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .login-btn:hover {
        background-color: #3a003e;
        transition: all 0.3s ease;
    }
}



.form-group {
    position: relative;
    margin: .8rem;

    width: 100%;
}

label {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

/* Move placeholder inside input */
input::placeholder {
    transition: opacity 0.3s ease;
}

/* When input is not focused and not empty, hide placeholder */
input:focus:not(:placeholder-shown)+label {
    top: -0.5rem;
    font-size: 0.8rem;
    color: #333;
    /* Change color if desired */
}
label.filled {
    top: -0.5rem;
    font-size: 0.8rem;
    color: #666;
}

.toggle-password i.fa-eye-slash::before {
    content: "\f070";
    /* Unicode for eye-slash icon */
}

/* When input is focused, hide placeholder */
input:focus::placeholder {
    opacity: 0;
}

.form-group {
    display: flex;
    align-items: center;
}

input {
    flex: 1;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.toggle-password {
    padding: 0.5rem;
    cursor: pointer;
}


.head-1{
    display: flex;
    flex-direction: row;
}




.custom-file-input {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.custom-file-input input[type='file'] {
    /* position: absolute; */
    font-size: 20px;
    opacity: 0;
    right: 0;
    top: 0;
}

/* Style for the label */
.file-label {
    cursor: pointer;
    background-color: #337ab7;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}