<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="https://kit.fontawesome.com/1144a62fa6.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav>
        <div class="profile-body1">

            <div class="sidebar-1">
                <div class="sidebar-items">
                    <div class="icon-text">
                        <div class="profile-container">
                            <a href="/home">
                                <img src="/public/imgs/vilgax.png" alt="" id="avatar" class="avatar">
                                <span class="span-text-nav"> Sldin'</span>
                            </a>
                        </div>
                    </div>
                    <div class="icon-text">
                        <div>
                            <a href="/home"><i class="fa-solid fa-house-chimney"></i>
                        </div>
                        <div> <span class="span-text-nav"> Home</span></div>
                        </a>
                    </div>
                    <div class="icon-text">
                        <div class="search-container" id="searchContainer">
                            <i class="fa-solid fa-search"></i>
                            <span class="span-text-nav" id="searchText">Search</span>

                        </div>
                    </div>
                    <div class="icon-text">
                        <a href="/post">
                            <i class="fa-solid fa-circle-plus"></i>
                            <span class="span-text-nav">Create</span>
                        </a>
                    </div>
                    <div class="icon-text">
                        <a href="/chat">
                            <i class="fa-solid fa-comment"></i>
                            <span class="span-text-nav"> Chat</span>
                        </a>
                    </div>
                    <div class="icon-text">
                        <a href="/notification">
                            <i class="fa-solid fa-heart"></i>
                            <span class="span-text-nav">Notifications</span>
                        </a>
                    </div>

                    <div class="icon-text">
                        <a href="/settings">
                            <i id="setting" onclick="togglePopup()" class="fa-solid fa-gear"></i>
                            <span class="span-text-nav">Settings</span>
                        </a>
                    </div>

                    <div class="icon-text">
                        <div class="profile-container">
                            <a href="/profile">
                                <img src="/public/imgs/vilgax.png" alt="" id="avatar" class="avatar">
                                <span class="span-text-nav"> Profile</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- <div class="profile-body2">
        <div class="sidebar-2" id="sidebar2">
            <div class="logo">
                <h1>Slidin</h1>
            </div>
            <div class="nav-icons">
                <a href="/home"><i class="fa-solid fa-house-chimney"></i>
                    <a href=""> <i class="fa-solid fa-circle-plus"></i></a>
                    <a href=""> <i class="fa-solid fa-comment"></i></a>
                    <a href=""> <i class="fa-solid fa-heart"></i></a>
                    <a href=""> <i class="fa-solid fa-gear"></i></a>
                    <a href=""> <i class="fa-solid fa-user"></i></a>
            </div>
            <div class="search-container" id="searchContainer">
                    <i class="fa-solid fa-search" id="searchIcon"></i>
                    <input type="text" id="searchText" class="hidden" placeholder="Search">
                </div>
        </div> -->
        </div>
    </nav>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const searchContainer = document.getElementById("searchContainer");
            const searchIcon = document.getElementById("searchIcon");
            const searchText = document.getElementById("searchText");
            const sidebar2 = document.getElementById("sidebar1");

            searchContainer.addEventListener("click", function () {
                // Toggle visibility of span-text-nav and show/hide sidebar2
                searchText.classList.toggle("hidden");
                sidebar2.classList.toggle("active");
            });
        });

    </script>
</body>

</html>