<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To Slidin'</title>
    <link rel="stylesheet" href="/css/welcome.css" />
  </head>
  <body>
    <div class="slidin-container">
      <div class="logo">
        <img src="/slidin'.png" alt="logo" height="100px" width="200px" />
      </div>
      <div class="name">
        <h1>Slidin'</h1>
      </div>
    </div>
    <div class="everything">
      <div class="container1">
        <div class="card">
          <div class="bg"></div>
          <div class="blob"></div>
          <div class="blob1"></div>
          <div class="main-text">
            <div class="div1">
              <h1>Welcome to Slidin'</h1>
              <p>—Your Social Hub</p>
            </div>
            <div class="div2">
              <p>
                Get ready for an exciting journey where every moment is an
                opportunity to connect, share, and create memories. Slidin'
                isn't just a social network—it's a vibrant community buzzing
                with authenticity and excitement.
              </p>
            </div>
            <div class="div3">
              <p>
                Ready to dive in? Join the party and start sliding into
                unforgettable experiences today!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container2">
        <div class="buttons">
          <div class="signup">
            <a href="/signup" class="signup"><button>Sign Up</button></a>
          </div>
          <div class="login">
            <a href="/login" class="login"><button>Login</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
